@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@1,400;1,700&display=swap');

* {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    min-width: 360px;
}
body {
    background-color: rgb(23, 26, 33);
    color: rgb(199, 213, 224);
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.actionButton {
    display: flex;
}

#finalResults {
    margin-top: 36px;
}

h1 , #finalResults {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}

p , li {
    font-size: 1.4em;
    list-style: none;
    margin: 0;
}

a:link, a:visited {
    text-decoration: none;
    font-weight: 900;
    color: rgb(23, 26, 33);
}

ul {
    padding: 0;
    width: inherit;
}

li {
    display: flex;
    font-size: 0.9em;
    justify-content: space-around
}

span {
    font-weight: 900;
}

main div {
    display: flex;
    justify-content: space-between;
}

main div p {
    text-align:start;
    margin: 6px 0;
    padding: 2px 16px;
}

main p {
    text-align: center;
    margin: 12px 0px;
}

button {
    font-weight: 900;
    border-radius: 12px;
    margin: 0 12px;
    padding: 6px 12px;
    font-size: 1.4em;
    background-color: rgb(199, 213, 224);
}

button:hover {
    transform: scale(1.15);
}

main {
    flex-grow: 1;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header {
    background-color: rgb(27, 40, 56);
}

header, main section, .textLog{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.textLog {
    height: 320px;
}

#textActions {
    display: block;
}

section > .actionButton, section > .text , .textLog > section{
    position: absolute;
}

#playersId {
    margin: 46px auto 12px auto;
    width: 400px;
}

#footerCriticalInfo {
    width: 540px;
}

@media (max-width:560px) {
    p , li {
        font-size: 0.9em;
    }
    #playersId {
        width: 300px;
    }
    h1 {
        font-size: 2em;
    }
    .textLog {
        height: 200px;
    }
    #footerCriticalInfo {
        width: 360px;
    }
    button {
        font-size: 1em;
        margin: 0 6px;
    }
}

.textRed {
    color: red;
}
.textOrange {
    color: orange;
}
.textGreen {
    color: green;
}

.textYellow {
    animation: rainbow 3s infinite;
}

@-webkit-keyframes rainbow{
    0%{color: orange;}  
    10%{color: purple;} 
    20%{color: red;}
    30%{color: CadetBlue;}
    40%{color: yellow;}
    50%{color: coral;}
    60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
    100%{color: orange;}
}

@-webkit-keyframes rainbowBorder{
    0%{border: 3px solid orange;}  
    10%{border: 3px solid purple;} 
    20%{border: 3px solid  red;}
    30%{border: 3px solid  CadetBlue;}
    40%{border: 3px solid  yellow;}
    50%{border: 3px solid  coral;}
    60%{border: 3px solid  green;}
    70%{border: 3px solid  cyan;}
    80%{border: 3px solid  DeepPink;}
    90%{border: 3px solid  DodgerBlue;}
    100%{border: 3px solid orange;}
}

.easyButton {
    border: 3px solid green;
    color: green;
}


.normalButton {
    border: 3px solid orange;
    color: orange;
}

.hardButton {
    border: 3px solid red;
    color: red;
}

.insaneButton {
    animation: rainbowBorder 3s infinite,rainbow 3s infinite;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.win {
    border: 2px solid green;
    border-radius: 12px;
}

.lose {
    border: 2px solid red;
    border-radius: 12px;
}

.tie {
    border: 2px solid orange;
    border-radius: 12px;
}


footer {
    background-color: rgb(27, 40, 56);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer div a {
    display: flex;
    align-items: center;
}

footer div:hover {
    #gitImgHidden {
        visibility: hidden;
    }
}

footer div p {
    margin-left: 12px;
}
